<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css" />
    <title>Confirmación</title>
</head>

<body>
    <div class="container">
        <div class="info">
            <h1>Sistema Evaluación de instructores</h1><span>Desarrollado por<i class="fa fa-heart"></i>
            <a href="https://hectorf25.github.io/curriculumPersonal/" target="_blank">Hector Florez</a></span>
        </div>
    </div>
    <div class="form">
        <div class="thumbnail"><img src="../assets/img/1200px-Sena_Colombia_logo.svg.png" /></div>
        <div class="login-form">
            <h1>Sus respuestas se han registrado correctamente</h1>
            <form action="../index.html">
                <button id="cerrarSes">Cerrar Sesion</button>
            </form>
            <br>
            <button id="realizarNuev">Realizar de Nuevo</button>
        </div>
    </div>
    <script src="../assets/js/confirmacion.js"></script>
</body>

</html>
